.header {
    background-color: var(--rich-black);
    padding: 10px;
    text-align: center;
}

li {
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 1.2rem;
}

.venue-img {
    width: 100%;
}