.header {
    background-color: var(--rich-black);
    padding: 10px;
    text-align: center;
}

li {
    list-style-position: inside;
    list-style-type: none;
}

.venue-img {
    max-width: 100%;
    width: auto;
    border-radius: .5rem;
}

@media (min-width: 768px) {
    #venue-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;  }
    .venue-img {
        max-width: 312px;
    }

    .venue-card {
        max-width: 20rem;
    }
    
}