* {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    --rich-black: #0d1b2a;
    --oxford-blue: #1b263b;
    --yinmn-blue: #415a77;
    --silver-lake-blue: #778da9;
    --platinum: #e0e1dd;
}

body {
    background-color: var(--oxford-blue);
    color: var(--silver-lake-blue);
}

p {
    margin: 1.2rem;
}

.special {
    border-radius: 16px;
    border: 1px solid var(--platinum);
    background-color: var(--rich-black);
    color: var(--yinmn-blue);
    padding: 16px;
    line-height: 1.5;
    box-shadow: 0px 4px 15px #000000;
}

